$main_color:#121417;
$main_bckgrd:#FFFFFF;
$bckgrd:#1214171a;
$bckgrd1:#f7f7fb;
$button:#3470FF;
$button_hover:#0B44CD;
$backdrop:rgba(0, 0, 0, 0.8);
$stroke:#FFFFFFCC;
$text_color:#12141780;
$text_color1:#8a8a89;
$border_color:#8a8a8933;